html 
    head 
        title understand files 
    body 
        ul
            each val in items
                li
                    b= val.title
                    i= val.price
                    img(src= val.img)